/* some style */

body {
    font-family: 'Menlo';
    background: #666;
}

.tree {
    background: #aaa;
}

.tree-label {
    font-size: 11px;
    display: inline-block;
    color: #fff;
    background: #000;
    border-radius: 0.75em;
    padding: 0.25em 0.5em;
}

.tree pre {
    padding: 0;
    margin: 0;
    display: inline-block;
    background: #efefef;
}

.tidy-tree {
    position: relative;
}

.node {
    position: absolute;
}

.hidden {
    position: absolute;
    top: 100%;
    left: 100%;
}

svg {
    margin: 0;
    padding: 0;
}